---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<section class="header">
		<div class="header_box">
			<h1><span class="text-gradient">Copleston<br> Consulting</span></h1>
			<br>
			<a href="https://www.linkedin.com/in/copleston/" class="contact">[contact me]</a>
		</div>
	</section>
	<main>

		

	</main>
	<video autoplay muted loop id="bgVideo">
		<source src="bg_vid_alt.webm" type="video/webm">
		<source src="bg_vid.mp4" type="video/mp4">
		<source src="bg_vid_alt.mp4" type="video/mp4">
	</video>
</Layout>

<style>
	main {
		position: fixed;
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}

	h1 {
		font-size: 400%;
		font-weight: 800;
		margin: 0;
		opacity: 100%;
		/* position: absolute; */
	}
	/* Style the video: 100% width and height to cover the entire window */
	#bgVideo {
		position: fixed;
		right: 0;
		bottom: 0;
		min-width: 100%;
		min-height: 100%;
		opacity: 1;
		z-index: -1;
		background: #000000;
	}

	.header {
		position: fixed;
		width: 100%;
		padding:20px 0;
		/* margin: 0; */
		margin-top: 0;
		top: 0;
		bottom: 0;
		margin-bottom: 0;
		text-align: center;
		background: #000000;
		opacity: 50%;
		color: white;
		box-shadow:  50px black ;
		border: none;
		margin: none;
	}

	.header_box {
		width: 100%;
		top: 38%;
		position: absolute;
		text-align: center;
		vertical-align: middle;
	}

	.contact {
		font-family: Menlo, monospace;
		font-size: 200%;
		opacity: 50%;
		color: white;
		text-decoration: none;
		font-weight: 300;
	}

	.contact:hover {
		/* font-size: 250%; */
		opacity: 100%;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 800%;
		background-position: 0%;
		mix-blend-mode:subtract;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
